<h1>About {{domain}}</h1>
<p>A simple and modern URL shortener built with Express.js, MongoDB, and Handlebars.js built for easy deployment to Heroku!</p>

<h2>System Info</h2>
<h4><b>Node Env:</b> {{nenv}}</h4>
<h4><b>Short Domain:</b> {{domain}}</h4>
<h4><b>Base URL:</b> {{externalUrl}}</h4>
<h4><b>Base Redirect URL:</b> {{mainDomain}}</h4>
<h4><b>URL Not Found Redirect:</b> {{notFoundRedirect}}</h4>